{% extends "base.html" %} {% block title %}登入{% endblock %} {% block content
%}
<div class="container mt-5" style="max-width: 400px">
  <h2 class="mb-4 text-center">會員登入</h2>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">電子郵件</label>
      <input class="form-control" name="email" type="email" required />
    </div>
    <div class="mb-3">
      <label class="form-label">密碼</label>
      <input class="form-control" name="password" type="password" required />
    </div>
    <div class="mb-3 text-center">
      <button class="btn btn-primary" type="submit">登入</button>
    </div>
  </form>
</div>
{% endblock %}
